@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}

.container {
    max-width: 1400px;
    margin-inline: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f3f3;
}

body > header {
    background-color: #222;
    padding: 2rem 2.2rem;
    color: white;
}

body > footer {
    background-color: #222;
    margin-top: auto;
}

body > footer > :first-child {
    padding-block: 4.25rem;
    padding-inline: 75px;
}

body > main > section:not(#slide) {
    margin-inline: 3rem;
}

#slide {
    background-image: url(img/slide.jpg);
    background-size: cover;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    padding-inline: 3rem;
}

#slide strong {
    color: #D01418;
    font-weight: 700;
}

[role="button"] {
    display: inline-block;
    background-color: #D01418;
    padding: 1rem 3.8rem;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

.brand {
    flex-grow: 1;
}

.brand a {
    display: flex;
    max-width: max-content;
    align-items: center;
    gap: 1em;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.brand strong {
    color: #D01418;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav > ul > li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.carrito {
    margin-left: 3rem;
    color: #D01418;
}

#products {
    text-align: center;
    margin-bottom: 5.3125rem;
}

.card {
    background-color: #fff;
    width: 265px;
}

.card img {
    margin: 1.5rem;
    max-width: 129px;
}

.card footer {
    border-top: 1px solid #ddd;
    padding: 1.25rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-inline: 2px;
}

.card .price {
    font-size: 1.25em;
}

.card .payment {
    font-size: 0.8125em;
}

.card .free-shipping {
    font-size: 0.625em;
    color: #619D00;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}

#products .flex {
    justify-content: center;
}

h2 {
    font-size: 1.875rem;
    font-weight: 400;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

#popular {
    text-align: center;
}

.social {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.social .flex {
    margin-top: 1.25rem;
}

.j-center {
    justify-content: center;
    align-items: center;
}

.j-between {
    justify-content: space-between;
}

.copyright {
    background-color: #C4C4C4;
    font-size: 0.625rem;
    text-align: center;
    padding-block: 0.5rem;
}

.banner {
    width: 360px;
    height: 135px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    color: white;
    background-size: cover;
    border-radius: 5px;
}

.banner h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

#popular {
    margin-bottom: 5.3125rem;
}

#popular .flex {
    gap: 1.875rem 114px;
}